.missionsTable,
td,
tr,
th{
  border: 1px solid #d1d1d1;
  border-spacing: 0;
  padding: 7px;
}

.mission {
  font-weight: 700;
}
thead{
  border: 1px solid #d1d1d1;
  text-align: left;
}
.descriptions{
  width: 60%;
}
.missionStatus{
  width: 14%;
  text-align: center;
}
.missionButton{
  text-align: center;
  padding: 9px;
  line-height: 50%;
  width: 14%;
}
.joined{
    padding: 4px 10px;
    background: transparent;
    border: 2px solid darkgray;
}
.leave{
  padding: 4px 10px;
  background: transparent;
  border: 2px solid #ff6868;
  color: red;
}
.activeMemberText{
  background-color: rgb(134, 134, 255);
  color: white;
  border-radius: 5px;
  padding: 3px;
}
.notAMemberText{
  color: white;
  background-color: gray;
  border-radius: 5px;
  padding: 3px;
}
th{
  font-weight: 700;

}